body { background-color: #F4F2F3; margin: 0; }
.wrapper { display: block; padding-top: 80px; }

/* -----------------------------------------------
:: Grid
-------------------------------------------------- */
.row { margin: 0 auto 0 auto;width: 100%; min-width:18.75em; max-width: 37.5em /* 600px; */}
.row .row { margin-bottom:0;margin-left: -0.75em; margin-right: -0.75em; width: auto; min-width:0; max-width: none; *zoom: 1; }
.row .row.collapse { width: auto; margin: 0; max-width: none; }
.cls { position: relative; float: left; width: 100%; padding-right: 0.75em; padding-left: 0.75em; }
.row.collapse .cls { position: relative; padding-left: 0; padding-right: 0; float: left; }

@media only screen {
	.cls { position: relative; float: left; padding-right: 0.75em; padding-left: 0.75em; }
	.sm-1 	{ width: 8.33333%; }
	.sm-2 	{ width: 16.66667%; }
	.sm-25 	{ width: 20%; }
	.sm-3 	{ width: 25%; }
	.sm-4 	{ width: 33.33333%; }
	.sm-5 	{ width: 41.66667%; }
	.sm-6 	{ width: 50%; }
	.sm-7 	{ width: 58.33333%; }
	.sm-8 	{ width: 66.66667%; }
	.sm-9 	{ width: 75%; }
	.sm-95 	{ width: 80%; }
	.sm-10 	{ width: 83.33333%; }
	.sm-11 	{ width: 91.66667%; }
	.sm-12 	{ width: 100%; }
}

/* -----------------------------------------------
:: Grid row & column - margin and pad
------------------------------------------------- */
/* margin rows and cls, (but not .row .row) */
.space-25 	{ margin: 1.5em auto 1.5em auto !important; }
.spacet-25	{ margin-top: 1.5em !important; }
.spaceb-25	{ margin-bottom: 1.5em !important; }
.space-50 	{ margin: 3em auto 3em auto !important; }
.spacet-50	{ margin-top: 3em !important; }
.spaceb-50	{ margin-bottom: 3em !important; }
.space-100 	{ margin: 6em auto 6em auto !important; }
.spacet-100	{ margin: 6em auto 0 auto !important; }
.spaceb-100	{ margin: 0 auto 6em auto !important; }

/* pad rows only */
.pad-25 	{ padding: 1.5em 0; }
.padt-25	{ padding: 1.5em 0 0 0; }
.padb-25	{ padding: 0 0 1.5em 0; }
.pad-50 	{ padding: 3em 0; }
.padt-50	{ padding: 3em 0 0 0; }
.padb-50	{ padding: 0 0 3em 0; }
.pad-100 	{ padding: 6em 0; }
.padt-100 	{ padding: 6em 0 0 0; }
.padb-100 	{ padding: 0 0 6em 0; }

/* pad cls only */
.padc-20 		{ padding-top: 1.25em; padding-right: 0.75em; padding-left: 0.75em; padding-bottom: 1.25em; }
.padct-20 		{ padding-top: 1.25em; padding-right: 0.75em; padding-left: 0.75em; }
.padcb-20 		{ padding-right: 0.75em; padding-left: 0.75em; padding-bottom: 1.25em; }
.padc-50 		{ padding-top: 3em; padding-right: 0.75em; padding-left: 0.75em; padding-bottom: 3em; }
.padct-50 		{ padding-top: 3em; padding-right: 0.75em; padding-left: 0.75em; }
.padcb-50 		{ padding-right: 0.75em; padding-left: 0.75em; padding-bottom: 3em; }
.padc-100 		{ padding-top: 6em; padding-right: 0.75emm; padding-left:0.75em; padding-bottom: 6em; }
.padct-100 		{ padding-top: 6em; padding-right: 0.75em; padding-left:0.75em; }
.padcb-100 		{ padding-right: 0.75em; padding-left: 0.75em; padding-bottom: 6em; }

/* -----------------------------------------------
:: Float clearing
-------------------------------------------------- */
/* float clearing for IE6 */
* html .cf, * html .clearfix, * html .social li, * html .row, * html .collapse, * html figure, * html .price-excluding-tax, * html .price-including-tax { overflow: visible; }

/* float clearing for IE7 */
*+html .cf, *+html .clearfix, *+html .social li, *+html .row, *+html .collapse, *+html figure, *+html .price-excluding-tax, *+html .price-including-tax { min-height: 1%; }

/* float clearing for everyone else */
.cf:after,
.clearfix:after,
.social li:after,
.row:after,
.collapse:after,
figure:after,
.price-excluding-tax:after,
.price-including-tax:after { clear: both; content: ""; display: block; height: 0; visibility: hidden; font-size: 0; }

/* -----------------------------------------------
:: Links
-------------------------------------------------- */
a { color: #444545; text-decoration: none; }

/* -----------------------------------------------
:: General
-------------------------------------------------- */
.hide{display: none;}
#wrap { width:100%; height: auto; overflow: hidden;}
/* fonts */
h1,h2,h3,h4,p { color: #444545; font-family: 'Open Sans', sans-serif;  }
h1,h2 { font-family: 'Oswald', sans-serif; margin-bottom: 0; }
h1 span { border-bottom: 5px solid #B54351; }
/* lists */
li { font-family: 'Open Sans', Arial, sans-serif; }
.news-article li { -webkit-margin-start: 2rem; -webkit-margin-end: 2rem;}
strong {
    color: #B54351;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}


#filter { 
	text-align: right; 
	background-color: #d8d8d8;
    padding: 10px;
}

.line { padding-top: 10px; border-top: 1px #444545 solid; }

.select {
    position: relative;
	z-index: 99;
    display: inline-block;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.select li { margin-bottom: 0; }
.select li a { 
	display: inline-block; 
	padding: 5px 10px; 
	background-color: #ffffff; 
}
.option {
    text-align: center;   
    background-color: #f9f9f9;
    min-width: auto;
    
    padding: 12px 16px;
}

.select .option.clicked {
    display: block;
	position:absolute;
	z-index: 999;
}

/* Custom Dropdown Box */
._container {
	display: inline-block;
	position:relative; 
	width: auto; 
	margin-left: 10px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
._label,
._option a { display: inline-block; width: auto; }

._label,
._option a,
._dropdown a { padding: 8px 10px; }

._label:after { 
	font-family: FontAwesome;
	content: '\f0d7';
	margin-left: 8px; 
}

._dropdown {
	position: absolute;
	z-index: 999; 
	right:0;
	width: auto;
	min-width:100%;
	text-align: left;
	background-color: #ffffff; 	
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

._dropdown a { display: block; }
._dropdown a:hover { background-color: #cccccc;}
/*._option { display: block; }
._option.selected {}*/

/* -----------------------------------------------
:: Header
-------------------------------------------------- */
header { position: fixed; z-index: 999; width: 100%; }
header .header { 
	position: relative;
    z-index: 999;
    background-color: #FFFFFF;
    padding: 5px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
header .header h1 { 
	color: #000000;
    font-size: 32px;
}
header .header .logo { width: 136px; float: right;}

/* navigation */
header nav { z-index: 998; position: relative; top: -213px; width: 100%; }
header nav div.menu-menu-container ul.menu { margin-bottom: 0; }
header nav div.menu-menu-container ul.menu li {  margin-bottom:0; }
header nav div.menu-menu-container ul.menu > li:hover a { background-color: #F1636E; color: #fff; }
header nav div.menu-menu-container ul.menu li a { display: block; padding: 24px 0; background-color: #787878; color: #F7F7F5; text-decoration: none; text-align: center; font-weight: 700; border-color: rgba(255, 255, 255, 0.1) black rgba(0, 0, 0, 0.3); border-style: solid; border-width: 1px 0; }
header nav div.menu-menu-container ul.menu li.current-menu-item a { background-color: #06A59C!important; color: #fff; }
header nav div.menu-menu-container ul.menu li.current-menu-item a:hover { background-color: #F1636E!important; }
header nav div.menu-menu-container ul.menu li a:hover { background-color: #515151; color: #fff; }
header nav div.menu-menu-container ul.menu li.menu-item-has-children a { cursor: pointer; }
header nav div.menu-menu-container ul.menu li.menu-item-has-children a:after { position: absolute; right: 16px; font-family: FontAwesome; content:'\f107'; }
header nav div.menu-menu-container ul.menu li.menu-item-has-children ul.sub-menu { display: none; margin-bottom: 0; }
header nav div.menu-menu-container ul.menu li.menu-item-has-children ul.sub-menu li a { background-color: #444545; color: #fff; }
header nav div.menu-menu-container ul.menu li.menu-item-has-children ul.sub-menu li a:after { content: none; }
header nav div.menu-menu-container ul.menu li.menu-item-has-children ul.sub-menu li a:hover { background-color: #F1636E; }
header nav div.menu-menu-container ul.menu li.menu-item-has-children ul.sub-menu li.current-menu-item a { background-color: #A7A7A7!important; }
header nav div.menu-menu-container ul.menu li.menu-item-has-children ul.sub-menu li.current-menu-item a:hover { background-color: #F1636E!important; }
header nav div.menu-menu-container ul.menu li.current-menu-parent a { background-color: #444545; color: #fff; }
header nav div.menu-menu-container ul.menu li.current-menu-parent a:hover { background-color: #F1636E; }

/* navigation toggle */
input#menu-toggle { display: none; }

#menu-toggle:checked ~ header nav { 
transform:translateY(213px);
-webkit-transform:translateY(213px);
-moz-transform:translateY(213px);
-o-transform:translateY(213px);
transition: .6s ease all;
-webkit-transition: .6s ease all;
-moz-transform: .6s ease all;
-o-transition: .6s ease all;
}
#menu-toggle ~ header nav {
transform:translateX(0);
-webkit-transform:translateX(0);
-moz-transform:translateX(0);
-o-transform:translateX(0);
transition: .6s ease all;
-webkit-transition: .6s ease all;
-moz-transform: .6s ease all;
-o-transition: .6s ease all;
}
label#toggle {
	float: right;
	font-size: 0;
}
label#toggle:after { 
	font-family: FontAwesome;
	font-size: 40px;
	color: #F7F7F5;
	content: '\f0c9';
}
	
/* -----------------------------------------------
:: Home
-------------------------------------------------- */

#main h1 { margin-bottom: 1.25rem;}
#main h1 span { border-bottom: 5px solid #4C70B7; }
#news li {margin-bottom: 1.50em;}
.inner {
	position: relative;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.2); 
}

.inner .date {
	position: absolute;
    padding: 5px 10px;
    background-color: #B64351;
}

.inner .date p { margin-bottom: 0; color: #fff; }
.inner figcaption { font-size: 11px; color: #868686; }
.inner figcaption .element-image__credit { color: #4C70B7;}

/* All Articles */
a .inner .overlay,
#news-article .inner .thumbnail .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	-moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

a .inner .overlay:hover,
a .inner .overlay:active { 
	background-color: rgba(0, 0, 0, 0.5); 
	-moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

a .inner .thumbnail img { margin-bottom: -5px;}
a .inner .article-text,
.thumbnail .article-text { 
	position: absolute;
	/*z-index: 1;*/
    bottom: 0;
    padding: 10px;
    margin-bottom: 0;
}

a .inner .article-text h2,
.thumbnail .article-text h2 { margin-bottom: 0; color: #F8F8F8; }

.thumbnail .article-text h2 {display: none; }

a .inner .article-text h3 { display: none; color: #EBBA4E; margin-top: 10px; }
a .inner figcaption {display: none;}

#news-article .inner { max-width: 1000px; margin-left: auto; margin-right: auto; background: inherit; box-shadow: inherit; }
#news-article .inner h2.news-article { font-size: 2rem; margin-bottom: 1.25rem; }
#news-article .inner .date {position: relative; margin-bottom: 10px;  }
#news-article .inner .thumbnail { position: relative; }
#news-article .inner .thumbnail .caption { position: absolute; margin-bottom: 0; padding: 10px; bottom: 0;}
#news-article .inner .thumbnail .caption span { color: #F4F2F3; font-size: 1rem; font-family: 'Oswald', sans-serif; }
#news-article .inner .photoCredit span { color: #4c70b7; font-size: 0.6875rem; }
blockquote {background-color: #ffffff; border-left: 5px solid #4C70B7; box-shadow: 0 1px 3px rgba(0,0,0,.2);}
blockquote p { font-style: italic; font-weight: 700; }
blockquote:before, blockquote:after { color: #B54351; }


/* -----------------------------------------------
:: Footer
-------------------------------------------------- */

footer { position: relative; padding: 14px 0 0; background-color:#262626; }
footer p { color: #f4f2f3; }
footer .footer { padding: 5px 0; background-color: #000000; }
footer .footer p { padding-top:0; margin-bottom: 0; color: #ffffff; text-align: right; }
footer .footer p a { color: #ffffff; text-decoration: none; font-weight: 700;  }
footer .footer p a.guardian { color: #005689; }
footer .footer p a.ejb { color: #B54351; }


/* social links */

footer .social { margin-bottom: 0; }
footer .social li { display: inline-block; margin-bottom: 0; margin-left: 5px; margin-right: 5px; }
footer .social li a { color: #484949; font-size: 0; }
footer .social li a:before {
	font-family: FontAwesome;
	font-size: 30px;
	font-size: 1.875rem;
	color: #F7F7F5;
}
footer .social li a span { font-size: 0; }

footer .social .twitter a:before 		{ content: '\f099'; }
footer .social .google-plus a:before 	{ content: '\f0d5'; }
footer .social .facebook a:before 		{ content: '\f082'; }
footer .social .linkedin a:before 		{ content: '\f08c'; }
footer .social .youtube a:before 		{ content: '\f166'; }
footer .social .instagram a:before		{ content: '\f16d'; }
footer .social .rss a:before 			{ content: '\f143'; }

/* -----------------------------------------------
:: Media 
-------------------------------------------------- */
@media only screen and (min-width:22.5em) {
	/*
	min-width:360px;
	*/

}

@media only screen and (min-width:30em) {
	/*
	min-width:480px;
	*/
	.mls-1 { width: 8.33333%; }
	.mls-2 { width: 16.66667%; }
	.mls-3 { width: 25%; }
	.mls-4 { width: 33.33333%; }
	.mls-5 { width: 41.66667%; }
	.mls-6 { width: 50%; }
	.mls-7 { width: 58.33333%; }
	.mls-8 { width: 66.66667%; }
	.mls-9 { width: 75%; }
	.mls-10 { width: 83.33333%; }
	.mls-11 { width: 91.66667%; }
	.mls-12 { width: 100%; }
	/* eof */
	label#toggle { left: 10px; }

}

@media only screen and (min-width:37.5em) {
	/*
	min-width:600px;
	*/
	.row { max-width:48em; }
	.mtp-1 { width: 8.33333%; }
	.mtp-2 { width: 16.66667%; }
	.mtp-3 { width: 25%; }
	.mtp-4 { width: 33.33333%; }
	.mtp-5 { width: 41.66667%; }
	.mtp-6 { width: 50%; }
	.mtp-7 { width: 58.33333%; }
	.mtp-8 { width: 66.66667%; }
	.mtp-9 { width: 75%; }
	.mtp-10 { width: 83.33333%; }
	.mtp-11 { width: 91.66667%; }
	.mtp-12 { width: 100%; }
	/* eof */
	header .header h1 {text-align: left;}	
	.top a .inner h2 { font-size: 32px; }
	.top a .inner .article-text h3 {display: inline-block; }
	.thumbnail .article-text h2 {display: block; }

    
}
@media only screen and (min-width: 48em) {
	/*
	min-width:768px;
	*/
	.m-1 	{ width: 8.33333%; }
	.m-2 	{ width: 16.66667%; }
	.m-25 	{ width: 20%; }
	.m-3 	{ width: 25%; }
	.m-4 	{ width: 33.33333%; }
	.m-5 	{ width: 41.66667%; }
	.m-6 	{ width: 50%; }
	.m-7 	{ width: 58.33333%; }
	.m-8 	{ width: 66.66667%; }
	.m-9 	{ width: 75%; }
	.m-95 	{ width: 80%; }
	.m-10 	{ width: 83.33333%; }
	.m-11 	{ width: 91.66667%; }
	.m-12 	{ width: 100%; }

	.mpush-1 { left: 8.33333%; right: auto; }
	.mpull-1 { right: 8.33333%; left: auto; }
	.mpush-2 { left: 16.66667%; right: auto; }
	.mpull-2 { right: 16.66667%; left: auto; }
	.mpush-3 { left: 25%; right: auto; }
	.mpull-3 { right: 25%; left: auto; }
	.mpush-4 { left: 33.33333%; right: auto; }
	.mpull-4 { right: 33.33333%; left: auto; }
	.mpush-5 { left: 41.66667%; right: auto; }
	.mpull-5 { right: 41.66667%; left: auto; }
	.mpush-6 { left: 50%; right: auto; }
	.mpull-6 { right: 50%; left: auto; }
	.mpush-7 { left: 58.33333%; right: auto; }
	.mpull-7 { right: 58.33333%; left: auto; }
	.mpush-8 { left: 66.66667%; right: auto; }
	.mpull-8 { right: 66.66667%; left: auto; }
	.mpush-9 { left: 75%; right: auto; }
	.mpull-9 { right: 75%; left: auto; }
	.mpush-10 { left: 83.33333%; right: auto; }
	.mpull-10 { right: 83.33333%; left: auto; }
	.mpush-11 { left: 91.66667%; right: auto; }
	.mpull-11 { right: 91.66667%; left: auto; }
	
	[class*="cls"] + [class*="cls"]:last-child 	{ float: right; }
	.products-grid [class*="cls"] + [class*="cls"]:last-child,
	.mini-products-list [class*="cls"] + [class*="cls"]:last-child { float: left; }
	.cls.small-centered { margin-left: auto; margin-right: auto; float: none !important; } 

	.inline-list { margin-left:-1.25em; }
	.inline-list > li { float:left; margin-left:1.25em; }
	/* eof */
	
	label#toggle { display: none; }
	header nav div.menu-menu-container,header nav div.menu-menu-container,header nav div.menu-menu-container ul.menu li { display: inline-block; }
	header nav { position: relative; top:0; z-index: 1000; width: auto; max-width: 48em; margin: 0 auto 0 auto; }
	header nav div.menu-menu-container {  position: absolute; right: 0; top: -50px; padding-right: 0.75em; padding-left: 0.75em; }
	header nav div.menu-menu-container ul.menu li a { display: inline; padding: 0px 11px; font-size: 20px; font-weight: normal; background-color: transparent; border: 0; }
	header nav div.menu-menu-container ul.menu li a:hover { background-color: #F1636E; }
	
		
	#news li:last-child { float: left; }
	footer p { margin-bottom: 0; padding-top: 10px; }
	footer p.copyright { text-align: left; }
	footer .social { text-align: right; }	
}
@media only screen and (min-width:50em) {
	/*
	min-width:800px;
	*/
}
@media only screen and (min-width:64em) {
	/*
	min-width:1024px;
	*/
	.row { max-width: 62em; /* 1024px; */ }
	.lg-1 { width: 8.33333%; }
	.lg-2 { width: 16.66667%; }
	.lg-25 { width: 20%; }
	.lg-3 { width: 25%; }
	.lg-4 { width: 33.33333%; }
	.lg-5 { width: 41.66667%; }
	.lg-6 { width: 50%; }
	.lg-7 { width: 58.33333%; }
	.lg-8 { width: 66.66667%; }	
	.lg-9 { width: 75%; }	
	.lg-95 { width: 80%; }	
	.lg-10 { width: 83.33333%; } 
	.lg-11 { width: 91.66667%; }
	.lg-12 { width: 100%; }

	.push-1 { left: 8.33333%; right: auto; }
	.pull-1 { right: 8.33333%; left: auto; }
	.push-2 { left: 16.66667%; right: auto; }
	.pull-2 { right: 16.66667%; left: auto; }
	.push-3 { left: 25%; right: auto; }
	.pull-3 { right: 25%; left: auto; }
	.push-4 { left: 33.33333%; right: auto; }
	.pull-4 { right: 33.33333%; left: auto; }
	.push-5 { left: 41.66667%; right: auto; }
	.pull-5 { right: 41.66667%; left: auto; }
	.push-6 { left: 50%; right: auto; }
	.pull-6 { right: 50%; left: auto; }
	.push-7 { left: 58.33333%; right: auto; }
	.pull-7 { right: 58.33333%; left: auto; }
	.push-8 { left: 66.66667%; right: auto; }
	.pull-8 { right: 66.66667%; left: auto; }
	.push-9 { left: 75%; right: auto; }
	.pull-9 { right: 75%; left: auto; }
	.push-10 { left: 83.33333%; right: auto; }
	.pull-10 { right: 83.33333%; left: auto; }
	.push-11 { left: 91.66667%; right: auto; }
	.pull-11 { right: 91.66667%; left: auto; }
	/* eof */
	
	header nav { max-width: 64em;}
	
	.top a .inner .thumbnail { height: 450px; background-color: black; }
	
	
	/* Middle Article */
	.middle a .inner .date { width: 100%; border-bottom: 5px solid #4C70B7; }
	.middle a .inner .overlay { background: #ffffff; }
	.middle a .inner .article-text h2 { color: #000000; font-weight: 600; }
	.middle a .inner .article-text h2:hover{ color: #444545;}
	.thumbnail .article-text h2 { font-size: 2rem;}
	
}
@media only screen and (min-width: 68.75em) {
	/* 
	min-width 1100px
	*/
}
@media only screen and (min-width: 76.5em) {
	/* 
	min-width 1224px
	*/
	#main > div.cls { padding-right:1.75em; padding-left:1.75em; }
	.row { max-width: 83em; /* 1328px; */ }
	.mlg-1 { width: 8.33333%; }
	.mlg-2 { width: 16.66667%; }
	.mlg-25 { width: 20%; }
	.mlg-3 { width: 25%; }
	.mlg-4 { width: 33.33333%; }
	.mlg-5 { width: 41.66667%; }
	.mlg-6 { width: 50%; }
	.mlg-7 { width: 58.33333%; }
	.mlg-8 { width: 66.66667%; }	
	.mlg-9 { width: 75%; }
	.mlg-95 { width: 80%; }	
	.mlg-10 { width: 83.33333%; } 
	.mlg-11 { width: 91.66667%; }
	.mlg-12 { width: 100%; }
	/* eof */
	
	.top a .inner .thumbnail {height: auto; }
	.middle a .inner .article-text h2 { font-size: 0.875rem; font-weight: normal; }
	.lower-middle.long a .inner { height: 249px; }
	.lower-middle.long a .inner .overlay { display: none; }
	.lower-middle.long a .inner .article-text h2 { color: #B64351; }
	.lower-middle.long a .inner .date { position: relative; width: 100%; }
	
}