		
	</div>
	<footer>
		<div class="row">
			<div class="sm-12 cls spaceb-25">			
				<p>Website built using The Guardian API. The filter has been setup to pull in a feed of all news articles relating to TTIP. This 'net' also pulls in articles concerning Brexit, UK/US trade deals and the EU.</p><p>The purpose of this website to highlight articles concerning the aforementioned subjects and draw attention to an important subject, largely ignored by many of the UK media outlets.</p>
			</div>
		</div>
		<div class="footer">
			<div class="row">
				<div class="sm-12 cls">
					<p>Content Courtesy of&nbsp;&nbsp;<a class="guardian" href="http://www.theguardian.com/international">The Guardian</a>&nbsp;&nbsp;|&nbsp;&nbsp;Web design by <a class="ejb" href="http://www.elliottjbrown.co.uk/">EJB</a></p></div>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>	
		<script type="text/javascript" src="js/script.js"></script>	
		<script type="text/javascript" src="js/helper.js"></script>
		<script type="text/javascript" src="js/respond.min.js"></script>
		<script type="text/javascript" src="js/html5.js"></script>
	</body>
</html>