<header class="cf">	
	<div class="header">
		<div class="row">
			<div class="sm-6 cls">
				<a href="/"><h1><span>TTIP</span> NEWS</h1></a>
			</div>				
			<div class="sm-6 cls">
				<div class="logo"><img src="images/logo.png" /></div>					
				<!--<label for="menu-toggle" id="toggle"><span>Menu</span></label>-->
			</div>
		</div>
	</div>
	<nav>			
	</nav>
</header>	
<div id="main" class="wrapper">