<div class="row">
	<div class="sm-12 cls">
		<h1><span>Latest</span> Articles</h1>	
	</div>
	<div id="filter" class="sm-12 cls spaceb-25">		
		<select id="orderBy"> 					
			<option value="order-by=newest&">newest</option> 
			<option value="order-by=relevance&">relevance</option>
		</select>
		<select id="searchBy"> 					
			<option value="q=ttip">TTIP</option> 
			<option value="q=tpp">TPP</option>
			<option value="q=ceta">CETA</option>
		</select>
	</div>
</div>
<ul id="news" class="row"></ul>